@import url(http://fonts.googleapis.com/css?family=Oswald:700|Orbitron);

body
{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 20px;

    background: #71b66f;
}

#calculator
{
    width: 335px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;

    border-radius: 20px;
    background: #2b3d50;
}

#screen-container
{
    padding: 20px;

    border-radius: 10px;
    background: #5e626d;
}

#screen
{
    font-family: 'Orbitron', sans-serif;
    font-size: 1.4em;
    font-weight: 600;

    z-index: 1;

    overflow: hidden;

    width: 265px;
    height: 23px;
    padding: 12px 15px;

    border: none;
    background: #ef5d5d;
}

#zero
{
    width: 225px;
}

#clear
{
    width: 147px;

    background: #cf7c43;
    box-shadow: inset 0 1px 0 #6a625c, 0 5px 0 0 #936f55;
}

#clear:active
{
    background-color: #e67e22;
    box-shadow: inset 0 1px 0 #6a625c, 0 2px 0 0 #936f55;
}

#equals
{
    height: 89px;
}

#buttons-container
{
    padding: 30px 0 0 15px;
}

.l-row
{
    position: absolute;
    top: 354px;
}

.buttons
{
    overflow: hidden;
}

.buttons span
{
    font-family: 'Oswald', sans-serif;
    line-height: 40px;

    float: left;

    width: 70px;
    height: 40px;
    margin: 0 7px 11px 0;

    cursor: pointer;
    user-select: none;
    text-align: center;

    border: none;
    border-radius: 3px;
    background: #3383d2;
    box-shadow: inset 0 1px 0 #5e626d, 0 5px 0 0 #45637f;
}

.buttons span:active
{
    top: 3px;

    transform: translateY(3px);

    background-color: #4aa3df;
    box-shadow: inset 0 1px 0 #5e626d, 0 2px 0 0 #45637f;
}

.operator
{
    font-size: 1.3em;
}
